/* Our UI Kit */


/* Start Flex */
.d-flex {
    display: flex;
}
.just-content-sb{
    justify-content: space-between;
}
.align-item-c{
    align-items: center;
}
/* Start Flex */

/* Start Margin and Padding */
.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}
/* End Margin and Padding */

/* Start List */
.list-unstyled {
    list-style: none;
}
/* End Lis t*/

/* Start Boarder */
.border-none{
    border: none;

}
/* End Boarder */